{% macro RATING(rating) -%}
    {% if rating == R.MATURE.code %}
        <span class="rating mature">The following submission is rated Mature:</span>
    {% elif rating == R.EXPLICIT.code %}
        <span class="rating explicit">The following submission is rated Explicit:</span>
    {% endif %}
{%- endmacro %}

{% macro SELECTED(one, two) -%}
    {% if one == two %}
        selected="selected"
    {% endif %}
{%- endmacro %}

{% macro CHECKED(one, two) -%}
    {% if one in two %}
        checked="checked"
    {% endif %}
{%- endmacro %}

{% macro NOT_CHECKED(one, two) -%}
    {% if one not in two %}
        checked="checked"
    {% endif %}
{%- endmacro %}

{% macro TRUE_CHECKED(one) -%}
    {% if one %}
        checked="checked"
    {% endif %}
{%- endmacro %}

{% macro AVATAR(user) -%}
    {% if user is mapping %}
        {% set username = user['username'] %}
        {% set url = 'profile_tilde'|route_url(name=username | LOGIN) %}
        {% if 'avatar' in user %}
            {% set avatar = user['avatar'][0]['display_url'] %}
        {% else %}
            {% set avatar = user['user_media']['avatar'][0]['display_url'] %}
        {% endif %}
    {% else %}
        {% set username = user.profile.username %}
        {% set url = 'profile_tilde'|route_url(name=user.login_name) %}
        {% set avatar = user.avatar['display_url'] %}
    {% endif %}
    <a class="avatar" href="{{ url }}" title="{{ username }}">
        <img src="{{ avatar }}"
             alt="avatar of {{ username }}"/>
    </a>
{%- endmacro %}